:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

@media (prefers-color-scheme: light) {
  /* Track */
  ::-webkit-scrollbar-track {
    background: #e7e5e4;
    border-radius: 2px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #111827;
    border-radius: 2px;
  }
}

@media (prefers-color-scheme: dark) {
  /* Track */
  ::-webkit-scrollbar-track {
    background: #111827;
    /* background: #e7e5e4; */
    border-radius: 2px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e7e5e4;
    /* background: #111827; */
    border-radius: 2px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
